<div id="performanceresultsdiv">
    <p>Total Time taken for search to run: <strong>{{ performanceresults[0] }}</strong> seconds.</p>
</div>

<div class="resultsdiv">
    {{ results | safe }}
</div>

<!-- JavaScript and CSS links -->
<!-- It's a good practice to place CSS links in the <head> section -->
<link href="https://cdn.datatables.net/v/dt/dt-1.13.4/datatables.min.css" rel="stylesheet"/>

<!-- Placing JavaScript at the end of the <body> can help with page load times -->
<!-- jQuery library -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<!-- Popper.js library required for Bootstrap tooltips and popovers -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<!-- Bootstrap JS library -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- DataTables JS library -->
<script src="https://cdn.datatables.net/v/dt/dt-1.13.4/datatables.min.js"></script>
<!-- Custom scripts -->
<script src="/static/base.js"></script>
