/* Base styles for DataTable elements */
.dataTables_length,
.dataTables_wrapper {
  font-size: 1rem;
}

/* Input and select elements within DataTables */
.dataTables_length select,
.dataTables_wrapper input {
  background-color: #f9f9f9;
  border: 1px solid #999;
  border-radius: 4px;
  height: 3rem;
  line-height: 2;
  font-size: 1.8rem;
  color: #333;
  padding: 0.5rem; /* Assuming you want padding for these elements */
}

/* Layout for length and filter sections */
.dataTables_length,
.dataTables_filter {
  margin: 30px 20px 10px;
  display: inline-flex;
}

/* Pagination button styles */
.paginate_button {
  min-width: 4rem;
  display: inline-block;
  text-align: center;
  padding: 1rem 1.6rem;
  margin-top: -1rem;
  border: 2px solid lightblue;
}

/* Specific styles for "previous" button */
.paginate_button.previous {
  border-radius: 8px 0 0 8px;
  min-width: 7rem;
}

/* Specific styles for "next" button */
.paginate_button.next {
  border-radius: 0 8px 8px 0;
  min-width: 7rem;
}

/* Remove left border for buttons not being "previous" */
.paginate_button:not(.previous) {
  border-left: none;
}

/* Hover state for pagination buttons */
.paginate_button:hover {
  cursor: pointer;
  background-color: #eee;
  text-decoration: none;
}

/* Performance results div styles */
#performanceresultsdiv {
  text-align: center;
  color: forestgreen;
}

/* Styles for divs containing results */
.resultsdiv {
  margin: 10px;
  white-space: nowrap;
}



